
.header{
    background-color: aquamarine;
    border-radius: 20px;
    padding: 20px;
    color: #000;
  }
.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}